
@{
    ViewBag.Title = "PendenciaTratativa";
}


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Inconsist&ecirc;ncias</h4>
                <div class="myadmin-dd-empty dd" id="inconsistencia">
                    <ol class="dd-list"  style="width:73vw">
                        <li class="dd-item dd3-item" data-id="1">
                            <div class="dd-handle dd3-handle"></div>
                            <div class="dd3-content">Inconsistencia 1</div>
                            <ol class="dd-list">
                                <li class="dd-item dd3-item" data-id="1">
                                    <div class="dd-handle dd3-handle  fa fa-credit-card"></div>
                                    <div class="dd3-content"> Cartao 1 </div>
                                </li>
                                <li class="dd-item dd3-item" data-id="2">
                                    <div class="dd-handle dd3-handle  fa fa-credit-card"></div>
                                    <div class="dd3-content"> Cartao 2 </div>
                                </li>
                                <li class="dd-item dd3-item" data-id="3">
                                    <div class="dd-handle dd3-handle fa fa-credit-card"></div>
                                    <div class="dd3-content"> Cartao 3 </div>
                                </li>
                            </ol>
                        </li>
                        <li class="dd-item dd3-item" data-id="2">
                            <div class="dd-handle dd3-handle"></div>
                            <div class="dd3-content">  Inconsistencia 2</div>
                            <ol class="dd-list">
                                <li class="dd-item dd3-item" data-id="1">
                                    <div class="dd-handle dd3-handle  fa fa-credit-card"></div>
                                    <div class="dd3-content"> Cartao 1 </div>
                                </li>
                                <li class="dd-item dd3-item" data-id="2">
                                    <div class="dd-handle dd3-handle  fa fa-credit-card"></div>
                                    <div class="dd3-content"> Cartao 2 </div>
                                </li>
                                <li class="dd-item dd3-item" data-id="3">
                                    <div class="dd-handle dd3-handle fa fa-credit-card"></div>
                                    <div class="dd3-content"> Cartao 3 </div>
                                </li>
                            </ol>
                        </li>
                        <li class="dd-item dd3-item" data-id="3">
                            <div class="dd-handle dd3-handle"></div>
                            <div  class="dd3-content">  Inconsistencia 3 </div>
                            <ol class="dd-list">
                                <li class="dd-item dd3-item" data-id="1">
                                    <div class="dd-handle dd3-handle  fa fa-credit-card"></div>
                                    <div class="dd3-content"> Cartao 1 </div>
                                </li>
                                <li class="dd-item dd3-item" data-id="2">
                                    <div class="dd-handle dd3-handle  fa fa-credit-card"></div>
                                    <div class="dd3-content"> Cartao 2 </div>
                                </li>
                                <li class="dd-item dd3-item" data-id="3">
                                    <div class="dd-handle dd3-handle fa fa-credit-card"></div>
                                    <div class="dd3-content"> Cartao 3 </div>
                                </li>
                            </ol>
                        </li>
                        <li class="dd-item dd3-item" data-id="4">
                            <div class="dd-handle dd3-handle"></div>
                            <div class="dd3-content">  Inconsistencia 4 </div>
                            <ol class="dd-list">
                                <li class="dd-item dd3-item" data-id="1">
                                    <div class="dd-handle dd3-handle  fa fa-credit-card"></div>
                                    <div class="dd3-content"> Cartao 1 </div>
                                </li>
                                <li class="dd-item dd3-item" data-id="2">
                                    <div class="dd-handle dd3-handle  fa fa-credit-card"></div>
                                    <div class="dd3-content"> Cartao 2 </div>
                                </li>
                                <li class="dd-item dd3-item" data-id="3">
                                    <div class="dd-handle dd3-handle fa fa-credit-card"></div>
                                    <div class="dd3-content"> Cartao 3 </div>
                                </li>
                            </ol>
                        </li>
                        <li class="dd-item dd3-item" data-id="5">
                            <div class="dd-handle dd3-handle"></div>
                            <div class="dd3-content">  Inconsistencia 5 </div>
                            <ol class="dd-list">
                                <li class="dd-item dd3-item" data-id="1">
                                    <div class="dd-handle dd3-handle  fa fa-credit-card"></div>
                                    <div class="dd3-content"> Cartao 1 </div>
                                </li>
                                <li class="dd-item dd3-item" data-id="2">
                                    <div class="dd-handle dd3-handle  fa fa-credit-card"></div>
                                    <div class="dd3-content"> Cartao 2 </div>
                                </li>
                                <li class="dd-item dd3-item" data-id="3">
                                    <div class="dd-handle dd3-handle fa fa-credit-card"></div>
                                    <div class="dd3-content"> Cartao 3 </div>
                                </li>
                            </ol>
                        </li>
                        <li class="dd-item dd3-item" data-id="6">
                            <div class="dd-handle dd3-handle"></div>
                            <div class="dd3-content">  Inconsistencia 6 </div>
                            <ol class="dd-list">
                                <li class="dd-item dd3-item" data-id="1">
                                    <div class="dd-handle dd3-handle  fa fa-credit-card"></div>
                                    <div class="dd3-content"> Cartao 1 </div>
                                </li>
                                <li class="dd-item dd3-item" data-id="2">
                                    <div class="dd-handle dd3-handle  fa fa-credit-card"></div>
                                    <div class="dd3-content"> Cartao 2 </div>
                                </li>
                                <li class="dd-item dd3-item" data-id="3">
                                    <div class="dd-handle dd3-handle fa fa-credit-card"></div>
                                    <div class="dd3-content"> Cartao 3 </div>
                                </li>
                            </ol>
                        </li>
                        <li class="dd-item dd3-item" data-id="7">
                            <div class="dd-handle dd3-handle"></div>
                            <div class="dd3-content">  Inconsistencia 7 </div>
                            <ol class="dd-list">
                                <li class="dd-item dd3-item" data-id="1">
                                    <div class="dd-handle dd3-handle  fa fa-credit-card"></div>
                                    <div class="dd3-content"> Cartao 1 </div>
                                </li>
                                <li class="dd-item dd3-item" data-id="2">
                                    <div class="dd-handle dd3-handle  fa fa-credit-card"></div>
                                    <div class="dd3-content"> Cartao 2 </div>
                                </li>
                                <li class="dd-item dd3-item" data-id="3">
                                    <div class="dd-handle dd3-handle fa fa-credit-card"></div>
                                    <div class="dd3-content"> Cartao 3 </div>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script src="~/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/assets/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/assets/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/assets/plugins/sticky-kit-master/sticky-kit.min.js"></script>
    <script src="~/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!--Custom JavaScript -->
    <script src="~/assets/js/custom.min.js"></script>
    <!--Nestable js -->
    <script src="~/assets/plugins/nestable/jquery.nestable.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Nestable
            var updateOutput = function (e) {
                var list = e.length ? e : $(e.target),
                    output = list.data('output');
                if (window.JSON) {
                    output.val(window.JSON.stringify(list.nestable('serialize'))); //, null, 2));
                } else {
                    output.val('JSON browser support required for this demo.');
                }
            };

            $('#inconsistencia').nestable({
                group: 1
            }).on('change', updateOutput);

            updateOutput($('#inconsistencia').data('output', $('#inconsistencia-output')));

            $('#nestable-menu').on('click', function (e) {
                var target = $(e.target),
                    action = target.data('action');
                if (action === 'expand-all') {
                    $('.dd').nestable('expandAll');
                }
                if (action === 'collapse-all') {
                    $('.dd').nestable('collapseAll');
                }
            });

            $('#nestable-menu').nestable();
        });
    </script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="~/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
}
